- @user ||= current_user
- provide(:title, @title)
- content_for(:side_bar) do
  %section
    = gravatar_for @user
    %h1= @user.name
.stats
  %table.info
    %tr
      %td
        %a{:href => tweets_path(@tweet)}
          %strong#tweet.stat
            = @user.tweets.count
          Tweets
      %td
        %a{:href => following_user_path(@user)}
          %strong#following.stat
            = @user.following.count
          Following
      %td
        %a{:href => followers_user_path(@user)}
          %strong#followers.stat
            = @user.followers.count
          Followers
