%h3 Users
.span8
  %table.table.table-condensed
    %thead
      %tr
        %th Username
        %th Email
        %th Registered
        %th Tweets
        %th
        %th
    %tbody
      - @users.delete current_user
      - @users.each do |user|
        %tr
          %td= link_to user.name, user
          %td= user.email
          %td= user.created_at.to_date
          %td= user.tweets.count
          %td= user.id
          %td= current_user.id
          %td
            - if current_user.following?(user)
              = form_for(current_user.relationships.find_by_followers_id(user), 
                html: { method: :delete }) do |f|                                
                = f.submit "Unfollow", class: "btn btn btn-danger"
            - else
              = form_for(current_user.relationships.build(following_id: user.id)) do |f|
                %div= f.hidden_field :following_id
                = f.submit "Follow", class: "btn btn-primary"


