%h3 Profile
%p
  User: #{@user.name}
%p
  Email: #{@user.email if @user.email}
%p
  Tweets: #{@user.tweets.count}
- if current_user.following?(@user)
  = render partial: 'unfollow'
- else
  = render partial: 'follow'
